@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+PhagsPa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans+PhagsPa&display=swap');
body {
    margin: 0  !important;
    padding: 0 !important;
    font-family: "Noto Sans PhagsPa", serif !important;
  }
  
.mainLayoutContainer {
    background-image: url("./Assets/noisy\ background.png");
    margin: 0px;
}
.childrenContainer{
    padding: 1% 2%;
    height: 87vh;
    overflow: scroll;
}